{% extends 'base.html' %}
{% block content %}

<style>
    * {
        margin: 0;
        padding: 0;
    }
    #map {
        height: 250px;
        width: 60%;
    }
</style>
</head>
<body>
<div class = container>
<div id="map"></div>
    <script type='text/javascript'>
        function initMap() {
            var data = {{ data_json|safe }};
            var location = {lat: data['lati'], lng: data['longi']};
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 14,
                center: location
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map
            })
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK8oYM1ntHFfzq2nfp_dh4nlK2_58FAhI&callback=initMap"></script>>
</div>
{% endblock %}